
<div class="container mt-5">
  <div class="d-flex justify-content-center" >
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <div class="card-block text-center">
          <h2 class="card-title"> New Viewing Party for: </h2>
          <h3 class="card-title"><%= @movie.title %></h3>
          <br>
        </div>
        <%= form_with model: @party, local: true do |form| %>
          <div class="mb-3">
            <%= form.label :duration, "Duration of Party (minutes):", class: "form-label" %><br>
            <%= form.number_field :duration, value: @party.duration, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :day, "Day:", class: "form-label" %><br>
            <%= form.date_field :day, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :start_time, "Start Time: ", class: "form-label" %><br>
            <%= form.time_field :start_time, class: "form-control", required: true %>
          </div>

          <p class="card-text">Invite:</p>
            <% current_user.friends.each do |friend| %>
            <div class="form-check form-check-inline">
              <%= check_box :friends, friend.id, class: "form-check-input", required: true %>
              <%= label :friends, friend.name, class: "form-check-label" %>
            </div>
            <% end %>
            <br>
          <%= form.hidden_field :movie, value: @movie.id %>
          <%= form.hidden_field :host_id, value: current_user.id %>
          <br>
          <div class='text-center'>
            <%= form.submit 'Create Party', class: "btn btn-outline-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
