<br><h3>&ensp;Create a viewing party for: </h3><br>
<h1>&ensp;&ensp;&ensp;<%= @movie.title %></h1><br>

<%= form_with(model: @party, url: parties_path, local: true, method: :post) do |f| %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.hidden_field :title, value: @movie.title %>
  &ensp;<%= f.date_field :date, placeholder: "Date:" %>&ensp;
  <%= f.time_field :start_time, placeholder: "Start Time:" %><br><br>
  &ensp;<%= f.text_field :duration, placeholder: "Party length (> #{@movie.runtime} min.):", min: 0 %>
  <% if @friends.present? %>
    <br><br><h4> Invite: </h4>
    <% @friends.each do |friend| %>
      <%= check_box("#{friend.name}") %>
      <%= friend.name %><br><br>
    <% end %><br>
  <% end %>
  <%= f.submit "Create Party" %>
<% end %>
