<% collection.each do |party| %>
<div class="col-3 d-flex  mb-3">
  <div class="card" id="party-<%= party.id %>" style="width: 18rem;">
    <div class="card-header text-center" style="height: 4rem;">
      <div style="vertical-align: middle;">      
        <%= link_to party.title, movie_path(party.movie) %>
      </div>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center"><%= party.day.strftime('%B %d, %Y') %></li>
        <li class="list-group-item text-center"><%= party.start_time.strftime('%l:%M %P') %></li>
        <li class="list-group-item text-center"><%= party.duration %> minutes</li>
        <li class="list-group-item text-center">
          <% if party.host == current_user %>
            <b>Hosting</b>
          <% else %>
            Host: <%= party.host.name %>
          <% end %>
        </li>
        <li class="list-group-item text-center">Invited:
          <% party.guests.each do |guest| %>
            <% if guest == current_user %>
              <b><%= guest.name %></b>
            <% else %>
              <%= guest.name %>
            <% end %>
          <% end %>
        </li>
      </ul>
  </div>
</div>
<% end %>
