
<div class="container mt-4">

  <h1 class="text-center">Welcome <%= current_user.name %>!</h1>
  <br>
  <div id='discover' class="d-flex justify-content-center btn-lg">
    <%= button_to 'Discover Movies', discover_path, method: :get %>
  </div>
  <br>
  <div id="friends">
    <h2>My Friends</h2>
    <hr>
    <section id='add-friend'>
      <%= form_with model: @friendship, local: true do |form| %>
        <%= form.label :email, "Add a new friend: " %>
        <%= form.text_field :email, placeholder: "friend's email" %>

        <%= form.submit 'Add Friend' %>
      <% end %>
    </section>
    <br>
    <section id='added-friends'>
      <% if current_user.friends.size > 0 %>
        <% current_user.friends.each do |friend| %>
          <p><%= friend.name %></p>
        <% end %>
      <% else %>
        <p>You currently have no friends, add one above!</p>
      <% end %>
    </section>
  </div>
  <br>
  <br>

  <div id="parties">
    <h2>Viewing Parties </h2>
    <hr>
    <section id="hosting">
      <h3>My Parties: </h3>
      <% if current_user.hosted_parties.empty? %>
        <p>You are not hosting any parties</p>
      <% else %>
        <div class="card-deck">
          <div class="row">
            <%= render partial: 'party_attributes', locals: {collection: current_user.hosted_parties} %>
          </div>
        </div>
      <% end %>
    </section>
    <br>
    <section id="invited">
      <h3>Invitations: </h3>
      <% if current_user.parties.empty? %>
        <p>You have not been invited to any parties</p>
      <% else %>
        <div class="card-deck">
          <div class="row">
            <%= render partial: 'party_attributes', locals: {collection: current_user.parties} %>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>
<br>
