<h1><%= @movie.title %></h1>
<div class="row">
    <div class="col">
      <%= button_to 'New Viewing Party', new_party_path, params: {id: @movie.id}, method: :get %>
      <h3><%= @movie.runtime %> min.</h3><br/>
      <p>SUMMARY: <%= @movie.overview %></p>
      <h3>Genres:
      <% @movie.genres.each do |genre| %>
        <%= genre %>
      <% end %></h3>
      <h3>Average Rating: <%= @movie.vote_average %></h3>
    </div>

    <div class="col">
      <h3>Cast:</h3>
      <% @movie.cast.each do |cast| %>
        <p><%= cast[:actor] %> as <%= cast[:character] %></p>
      <% end %><br/>

    </div>
  </div>
  <h3><%= @movie.reviews.size %> Reviews :</h3>
  <% @movie.reviews.each do |rev| %>
    <p><b><%= rev[:author] %></b> - <%= rev[:content] %></p>
  <% end %>
