<%= button_to "Find Top Rated Movies", movies_path %>

<h2>OR</h2><br/>

<%# <%= form_with url: discover_path, method: :post, local: true do |form| %> %>
<%= bootstrap_form_with(model: @movie, url: movies_path, local: true, method: :get, class: 'form-inline') do |f| %>
  <%= f.label :query, placeholder: "Search by movie title", skip_label: true %>
  <%= f.text_field :query %><br/><br/>

  <%= f.submit 'Find Movies' %>
<% end %>
