<%= button_to "Find Top Rated Movies", movies_path %>

<h2>OR</h2><br/>

<%= form_with url: discover_path, method: :post, local: true do |form| %>
  <%=# form.label :query %>
  <%= form.text_field :query %><br/><br/>

  <%= form.submit 'Find Movies' %>
<% end %>
